@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;500;700;900&family=Poppins:wght@400;500;700&display=swap');

:root {
  --font-lato: 'Lato', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-poppins: 'Poppins', sans-serif;

  --color-medium-gray: #868686;
  --color-gray: #938E8E;
  --color-pink: #EA8577;
  --color-light-pink: #FFB8C9;
  --color-orange: #FF5F5F;
  --color-text: #717171;
}