footer {
    padding: 4rem 8rem;
    color: white;
    background-color: black;
    font-family: var(--font-poppins);
}
footer .copyright {
    margin-top: 4rem;
    text-align: center;
    opacity: 0.7;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-container {
    /* border: 1px solid white; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo-container h1 {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 45px;
    font-family: var(--font-playfair);
}
.logo-container p {
    width: 70%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    text-align: left;
}
.icons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.links-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 2;
}
.links-card, .links-card ul {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.links-card li {
    list-style: none;
}
.links-card a {
    text-decoration: none;
    color: white;
}
.links-card a:hover {
    color: var(--color-orange);
}

@media screen and (max-width: 1000px) {
    footer {
        padding: 4rem;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
    }
    .logo-container {
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .logo-container p {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding: 4rem 2rem;
    }
    .footer, .links-container {
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .icons-container {
        justify-content: center;
    }
}